.catalog-ceramics
	.container
		.row
			.col-xs-12
				h3.catalog-ceramics__title
					| Керамическая плитка, керамогранит
				.clearfix.catalog-ceramics__items
					.col-xs-12.col-sm-4
						.catalog-ceramics__item
							.catalog-ceramics__item-pr
								img(src="images/catalog/ceramics/1.jpg", alt="Керамическая плитка", width="386", height="206")
							.catalog-ceramics__item-title
								div
									| Керамическая плитка
					.col-xs-12.col-sm-4
						.catalog-ceramics__item
							.catalog-ceramics__item-pr
								img(src="images/catalog/ceramics/2.jpg", alt="", width="386", height="206")
							.catalog-ceramics__item-title
								div
									| Мозаика
					.col-xs-12.col-sm-4
						.catalog-ceramics__item
							.catalog-ceramics__item-pr
								img(src="images/catalog/ceramics/3.jpg", alt="", width="386", height="206")
							.catalog-ceramics__item-title
								div
									| Керамогранит
