.catalog-doors
	.container
		.row
			.col-xs-12
				h3.catalog-doors__title
					| Межкомнатные двери 
				.clearfix.catalog-doors__items
					.col-xs-12.col-sm-6.col-md-3
						.catalog-doors__item
							.catalog-doors__item-pr
								img(src="images/catalog/doors/1.jpg", alt="")
							.catalog-doors__item-title
								div
									| Двери ПВХ
					.col-xs-12.col-sm-6.col-md-3
						.catalog-doors__item
							.catalog-doors__item-pr
								img(src="images/catalog/doors/2.jpg", alt="")
							.catalog-doors__item-title
								div
									| Ламинированные
					.col-xs-12.col-sm-6.col-md-3
						.catalog-doors__item
							.catalog-doors__item-pr
								img(src="images/catalog/doors/3.jpg", alt="")
							.catalog-doors__item-title
								div
									| Шпон 
					.col-xs-12.col-sm-6.col-md-3
						.catalog-doors__item
							.catalog-doors__item-pr
								img(src="images/catalog/doors/4.jpg", alt="")
							.catalog-doors__item-title
								div
									| Фурнитура
