.catalog-dry-mixes
	.container
		.row
			.col-xs-12
				h3.catalog-dry-mixes__title
					| Строительные сухие смеси
				.clearfix.catalog-dry-mixes__items
					.col-xs-12.col-sm-6.col-md-3
						.catalog-dry-mixes__item
							.catalog-dry-mixes__item-pr
								img(src="images/catalog/dry-mixes/1.jpg", alt="", width="289", height="206")
							.catalog-dry-mixes__item-title
								div
									| Ровнители, 
									| спецсоставы
					.col-xs-12.col-sm-6.col-md-3
						.catalog-dry-mixes__item
							.catalog-dry-mixes__item-pr
								img(src="images/catalog/dry-mixes/2.jpg", alt="", width="289", height="206")
							.catalog-dry-mixes__item-title
								div
									| Штукатурки, 
									| шпаклёвки
					.col-xs-12.col-sm-6.col-md-3
						.catalog-dry-mixes__item
							.catalog-dry-mixes__item-pr
								img(src="images/catalog/dry-mixes/3.jpg", alt="", width="289", height="206")
							.catalog-dry-mixes__item-title
								div
									| Клеи 
					.col-xs-12.col-sm-6.col-md-3
						.catalog-dry-mixes__item
							.catalog-dry-mixes__item-pr
								img(src="images/catalog/dry-mixes/4.jpg", alt="", width="289", height="206")
							.catalog-dry-mixes__item-title
								div
									| Затирки

