.catalog-floor
	.container
		.row
			.col-xs-12
				h3.catalog-floor__title
					| Напольные покрытия
				.clearfix.catalog-floor__items
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/1.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title
								div
									| Паркетная 
									| доска
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/2.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title
								div
									| Ламинат
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/3.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title
								div
									| Плиты 
									|  Quick Deck 
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/4.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title
								div
									| Линолеум, 
									| ПВХ-покрытия
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/5.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title
								div
									| Плитка 
									| Керамогранит
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-floor__item
							.catalog-floor__item-pr
								img(src="images/catalog/floor/6.jpg", alt="", width="191", height="137")
							.catalog-floor__item-title.catalog-floor__item-title--small
								div
									| Подложка, порожки,
									| плинтусы, др.

