.catalog-goods
	.container
		.row
			.col-xs-12
				h3.catalog-goods__title.catalog-goods__title-1
					| Посмотреть подборку
				h2.catalog-goods__title.catalog-goods__title-2
					| Товаров по хорошей цене
				.catalog-goods__items.js-carousel-goods
					.catalog-goods__item
						.catalog-goods__item-title
							| Краска латекс 
							| ЕВРО-20 0,9 Л (6) ...
						.catalog-goods__item-pr
							img(src="images/catalog/goods/1.jpg", alt="Краска латекс", width="185", height="165")
						.catalog-goods__item-price
							| 461 
							span.rubl.catalog-goods__item-price-rubl
								| Р
					.catalog-goods__item
						.catalog-goods__item-title
							| Угловая шлифмашина 
							| STATUS SH-115
						.catalog-goods__item-pr
							img(src="images/catalog/goods/2.jpg", alt="Угловая шлифмашина", width="185", height="165")
							.catalog-goods__item-mark
								| Новинка
						.catalog-goods__item-price
							| 2319 
							span.rubl.catalog-goods__item-price-rubl
								| Р
					.catalog-goods__item
						.catalog-goods__item-title
							| Насосная станция 
							| АСВ-370/2Ч ВИХРЬ
						.catalog-goods__item-pr
							img(src="images/catalog/goods/3.jpg", alt="Насосная станция", width="185", height="165")
							.catalog-goods__item-mark
								| дешевле некуда
						.catalog-goods__item-price
							| 4454 
							span.rubl.catalog-goods__item-price-rubl
								| Р
					.catalog-goods__item
						.catalog-goods__item-title
							| Электропила 
							| Huter ELS-2000P
						.catalog-goods__item-pr
							img(src="images/catalog/goods/4.jpg", alt="Электропила", width="185", height="165")
						.catalog-goods__item-price
							| 5314 
							span.rubl.catalog-goods__item-price-rubl
								| Р
					.catalog-goods__item
						.catalog-goods__item-title
							| Краска латекс 
							| ЕВРО-20 0,9 Л (6) ...
						.catalog-goods__item-pr
							img(src="images/catalog/goods/1.jpg", alt="Краска латекс", width="185", height="165")
						.catalog-goods__item-price
							| 461 
							span.rubl.catalog-goods__item-price-rubl
								| Р
