.catalog-paints
	.container
		.row
			.col-xs-12
				h3.catalog-paints__title
					| Лакокрасочные материалы
				.clearfix.catalog-paints__items
					.col-xs-12.col-sm-6.col-md-3
						.catalog-paints__item
							.catalog-paints__item-pr
								img(src="images/catalog/paints/1.jpg", alt="")
							.catalog-paints__item-title
								div
									| Грунты 
					.col-xs-12.col-sm-6.col-md-3
						.catalog-paints__item
							.catalog-paints__item-pr
								img(src="images/catalog/paints/2.jpg", alt="")
							.catalog-paints__item-title
								div
									| Краски, 
									| эмали
					.col-xs-12.col-sm-6.col-md-3
						.catalog-paints__item
							.catalog-paints__item-pr
								img(src="images/catalog/paints/3.jpg", alt="")
							.catalog-paints__item-title
								div
									| Лаки, 
									| морилка
					.col-xs-12.col-sm-6.col-md-3
						.catalog-paints__item
							.catalog-paints__item-pr
								img(src="images/catalog/paints/4.jpg", alt="")
							.catalog-paints__item-title
								div
									| Колеровка, 
									| краски

