.catalog-sanitary
	.container
		.row
			.col-xs-12
				h3.catalog-sanitary__title
					| Сантехника
				.clearfix.catalog-sanitary__items
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/1.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title
								div
									| Инженерная 
									| сантехника
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/2.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title
								div
									| Смесители
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/3.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title
								div
									| Санфаянс 
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/4.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title
								div
									| Ванны 
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/5.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title
								div
									| Душевые 
									| кабины
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-sanitary__item
							.catalog-sanitary__item-pr
								img(src="images/catalog/sanitary/6.jpg", alt="", width="191", height="137")
							.catalog-sanitary__item-title.catalog-sanitary__item-title--small
								div
									| Мебель 
									| для ванной
