.catalog-sheet-finishing
	.container
		.row
			.col-xs-12
				h3.catalog-sheet-finishing__title
					| Листовые отделочные материалы 
				.clearfix.catalog-sheet-finishing__items
					.col-xs-12.col-sm-4
						.catalog-sheet-finishing__item
							.catalog-sheet-finishing__item-pr
								img(src="images/catalog/sheet-finishing/1.jpg", alt="Гипсокартон", width="386", height="206")
							.catalog-sheet-finishing__item-title
								div
									| Гипсокартон
					.col-xs-12.col-sm-4
						.catalog-sheet-finishing__item
							.catalog-sheet-finishing__item-pr
								img(src="images/catalog/sheet-finishing/2.jpg", alt="Комплектующие", width="386", height="206")
							.catalog-sheet-finishing__item-title
								div
									| Комплектующие
					.col-xs-12.col-sm-4
						.catalog-sheet-finishing__item
							.catalog-sheet-finishing__item-pr.catalog-sheet-finishing__item-pr-img
								img(src="images/catalog/sheet-finishing/3.jpg", alt="...", width="386", height="284")

