.catalog-wallpaper
	.container
		.row
			.col-xs-12
				h3.catalog-wallpaper__title
					| Обои, стеновые панели ПВХ
				.clearfix.catalog-wallpaper__items
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/1.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Обои бумажные
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/2.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Обои 
									| флизелиновые
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/3.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Обои виниловые
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/4.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Обои жидкие
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/5.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Стеновые панели 
									| ПВХ
					.col-xs-12.col-sm-4.col-lg-2
						.catalog-wallpaper__item
							.catalog-wallpaper__item-pr
								img(src="images/catalog/wallpaper/6.jpg", alt="", width="191", height="137")
							.catalog-wallpaper__item-title
								div
									| Фурнитура
