.header-main
	.container
		.row
			.col-xs-12
				.header-main__container
					img.header-main__logo(src="images/logo.png", alt="Квадратный метр: строительный супермаркет")
					.header-main__phone
						span.i-phone.header-main__phone-icon
						span.header-main__phone-number
							| (8162) 96-12-96
							.header-main__info.hidden-xs.hidden-lg
								| Великий Новгород, ул. Связи д.8
								br
								| Режим работы: Пн-Пт: 9.00-18.00
						.header-main__action.hidden-xs.hidden-md.hidden-lg
							| Акция: квартира в подарок
					.header-main__info.hidden-md.hidden-sm
						| Великий Новгород, ул. Связи д.8
						br
						| Режим работы: Пн-Пт: 9.00-18.00
					.header-main__action.hidden-sm
						| Акция: квартира в подарок