.nav
	.container
		.row
			.col-xs-12
				button.header-search__catalog.header-search__catalog--nav.visible-xs
					| Меню
				.nav__container
					ul.nav__list
						li.nav__list-item.nav__list-item--active
							a.nav__list-link(href="#")
								| Акции
						li.nav__list-item
							a.nav__list-link(href="#")
								| Новосёлам
						li.nav__list-item
							a.nav__list-link(href="#")
								| Квартира в подарок
						li.nav__list-item
							a.nav__list-link(href="#")
								| Программа лояльности
						li.nav__list-item
							a.nav__list-link(href="#")
								| Партнёрам
						li.nav__list-item
							a.nav__list-link(href="#")
								| Контакты
					ul.nav__list.nav__list--right
						li.nav__list-item
							a.nav__list-link(href="#")
								| Вход