.header-search
	.container
		.row
			.col-xs-12
				.header-search__container
					a.header-search__catalog(href="#")
						| Каталог
					.header-search__search
						input.header-search__search-input(type="text", placeholder="Поиск по каталогу")
