.header-search
	.container
		.row
			.col-xs-12
				.header-search__container
					a.header-search__catalog.catalog-menu-pointer(href="#")
						| Каталог
					<div id="menu_left">
						<div num="11"><span>Кирпич, газобетон</span></div>
						<ul class="menu_left_inside" num="11" dir="cat_2" style="display: none;">
							<li><a href="/catalog/kirpich_keramicheskiy/" title="Кирпич керамический">Кирпич керамический</a></li>
							<li><a href="/catalog/kirpich-silikatniy/" title="Кирпич силикатный рядовой, лицевой">Кирпич силикатный рядовой, лицевой</a></li>
							<li><a href="/catalog/teplokeramika/" title="Крупноформатные керамические блоки">Крупноформатные керамические блоки</a></li>
							<li><a href="/catalog/kirpich-licevoy/" title="Облицовочный кирпич, клинкер фасадный">Облицовочный кирпич, клинкер фасадный</a></li>
							<li><a href="/catalog/kirpich-pechnoy/" title="Кирпич печной">Кирпич печной</a></li>
							<li><a href="/catalog/klinker_trotuarnyiy/" title="Клинкер тротуарный">Клинкер тротуарный</a></li>
							<li><a href="/catalog/AEROC/" title="Газобетон">Газобетон</a></li>
						</ul>
						<div num="12" id="hover"><span>ЖБИ, Бетон</span></div>
						<ul class="menu_left_inside" num="12" dir="cat_8" style="display: none;">
							<li><a href="/catalog/fundamentnye_bloki/" title="Фундаментные блоки, подушки">Фундаментные блоки, подушки</a></li>
							<li><a href="/catalog/beton/" title="Бетон в Великом Новгороде">Бетон в Великом Новгороде</a></li>
							<li><a href="/catalog/roltsa_elementyi_kolodtsev/" title="Кольца, элементы колодцев, трубы безнапорные">Кольца, элементы колодцев, трубы безнапорные</a></li>
							<li><a href="/catalog/lestnichnyie_marshi/" title="Лестничные марши, ступени, площадки, лотки">Лестничные марши, ступени, площадки, лотки</a></li>
							<li><a href="/catalog/plitka_trotuarnaya/" title="Плитка тротуарная, поребрик, блочки">Плитка тротуарная, поребрик, блочки</a></li>
							<li><a href="/catalog/peremyichki_progonyi/" title="Перемычки, прогоны">Перемычки, прогоны</a></li>
							<li><a href="/catalog/plityi_dorozhnyie/" title="Плиты дорожные и плиты крепления">Плиты дорожные и плиты крепления</a></li>
							<li><a href="/catalog/plityi_mnogopustotnyie/" title="Плиты многопуст. ПБФ 15-100">Плиты многопуст. ПБФ 15-100</a></li>
						</ul>
						<div num="13"><span>Кровельные материалы </span></div>
						<ul class="menu_left_inside" num="13" dir="cat_4">
							<li><a href="/catalog/metallocherepitsa_Grand_Line/" title="Металлочерепица">Металлочерепица</a></li>
							<li><a href="/catalog/kompozitnaya_cherepitsa/" title="Композитная черепица">Композитная черепица</a></li>
							<li><a href="/catalog/falcevaya_krovlya/" title="Фальцевая кровля">Фальцевая кровля</a></li>
							<li><a href="/catalog/gibkaya_cherepica/" title="Гибкая (мягкая) черепица">Гибкая (мягкая) черепица</a></li>
							<li><a href="/catalog/onduline/" title="Ондулин">Ондулин</a></li>
							<li><a href="/catalog/naplavlyemay_krovly/" title="Наплавляемая кровля">Наплавляемая кровля</a></li>
							<hr>
							<li><a href="/catalog/fasonnye_izdeliya/" title="Фасонные изделия">Фасонные изделия</a></li>
							<li><a href="/catalog/izgotovlenie_krovly/" title="Изготовление доборных элементов кровли">Изготовление доборных элементов кровли</a></li>
							<li><a href="/catalog/mansardnye_okna/" title="Мансардные окна">Мансардные окна</a></li>
							<li><a href="/catalog/vodostochnaya_sistema/" title="Водосточная система">Водосточная система</a></li>
							<hr>
							<li><a href="/catalog/cherdachnyie_lestnitsyi/" title="Чердачные лестницы">Чердачные лестницы</a></li>
							<li><a href="/catalog/okno_balkon/" title="Окна-балконы">Окна-балконы</a></li>
							<li><a href="/catalog/krovelnyie_lyuki/" title="Кровельные люки">Кровельные люки</a></li>
							<hr>
							<li><a href="/catalog/vyihodyi_na_kryishu/" title="Выходы на крышу">Выходы на крышу</a></li>
							<li><a href="/catalog/krovelnyie_ventili_i_kolpaki/" title="Кровельные вентили и колпаки">Кровельные вентили и колпаки</a></li>
							<li><a href="/catalog/kaminnyiy_ventilyator/" title="Каминный вентилятор">Каминный вентилятор</a></li>
							<li><a href="/catalog/P-ventilyatoryi/" title="Р-вентиляторы">Р-вентиляторы</a></li>
							<li><a href="/catalog/P-ventilyatsionnyie_vyihodyi/" title="P-вентиляционные выходы вытяжки">P-вентиляционные выходы вытяжки</a></li>
							<li><a href="/catalog/ventilyacionnye_vyhody_kanaliz/" title="Вентиляционные выходы канализационных стояков">Вентиляционные выходы канализационных стояков</a></li>
							<li><a href="/catalog/S-ventilyatoryi/" title="S-вентиляторы">S-вентиляторы</a></li>
							<li><a href="/catalog/ROSS_tsokolnyiy_deflektor/" title="ROSS цокольный дефлектор">ROSS цокольный дефлектор</a></li>
							<li><a href="/catalog/elementyi_bezopasnosti/" title="Элементы безопасности">Элементы безопасности</a></li>
						</ul>
						<div num="14"><span>Фасады</span></div>
						<ul class="menu_left_inside" num="14" dir="cat_1">
							<li><a href="/catalog/viniloviy_sayding/" title="Виниловый сайдинг">Виниловый сайдинг</a></li>
							<li><a href="/catalog/metallosayding/" title="Металлосайдинг">Металлосайдинг</a></li>
							<li><a href="/catalog/akriloviy_sayding/" title="Акриловый сайдинг">Акриловый сайдинг</a></li>
							<li><a href="/catalog/fibrocementniy_sayding/" title="Фиброцементный сайдинг">Фиброцементный сайдинг</a></li>
							<li><a href="/catalog/fasadnye_paneli/" title="Фасадные панели">Фасадные панели</a></li>
							<li><a href="/catalog/iizgotovleniefasad/" title="Изготовление доборных элементов фасада">Изготовление доборных элементов фасада</a></li>
						</ul>
						<div num="15"><span>Профнастил</span></div>
						<ul class="menu_left_inside" num="15" dir="cat_49">
							<li><a href="/catalog/krovelnyiy_profnastil/" title="Кровельный профнастил">Кровельный профнастил</a></li>
							<li><a href="/catalog/fasadnyi_profnastil/" title="Фасадный профнастил">Фасадный профнастил</a></li>
							<li><a href="/catalog/profnastil_zabor/" title="Профнастил для забора">Профнастил для забора</a></li>
						</ul>
						<div num="16"><span>Сэндвич-панели</span></div>
						<ul class="menu_left_inside" num="16" dir="cat_47">
							<li><a href="/catalog/stenovie_sandwich_paneli/" title="Стеновые сэндвич-панели">Стеновые сэндвич-панели</a></li>
							<li><a href="/catalog/krovelnyie_sandwich_paneli/" title="Кровельные сэндвич-панели">Кровельные сэндвич-панели</a></li>
						</ul>
						<div num="17"><span>Заборы, ограждения, ворота</span></div>
						<ul class="menu_left_inside" num="17" dir="cat_10">
							<li><a href="/catalog/profnastil_stenovoy_poliester/" title="Профнастил стеновой полиэстер">Профнастил стеновой полиэстер</a></li>
							<li><a href="/catalog/profnastil_stenovoy_otsinkov/" title="Профнастил стеновой оцинкованный">Профнастил стеновой оцинкованный</a></li>
							<li><a href="/catalog/profnastil_Grand_Line_stenovoy/" title="Профнастил Grand Line стеновой">Профнастил Grand Line стеновой</a></li>
							<li><a href="/catalog/profnastilmetallprofil/" title="Профнастил Металл Профиль">Профнастил Металл Профиль</a></li>
							<li><a href="/catalog/modulnyie_ograzhdeniya/" title="Модульные ограждения">Модульные ограждения</a></li>
							<li><a href="/catalog/metallicheskiy_shtaketnik/" title="Металлический штакетник">Металлический штакетник</a></li>
							<li><a href="/catalog/setka_rabitsa/" title="Сетка Рабица">Сетка Рабица</a></li>
							<li><a href="/catalog/panelnyie_ograzhdeniya/" title="Панельные ограждения">Панельные ограждения</a></li>
							<li><a href="/catalog/sekcionnye_vorota/" title="Секционные ворота">Секционные ворота</a></li>
						</ul>
						<div num="18"><span>Дымоходные системы</span></div>
						<ul class="menu_left_inside" num="18" dir="cat_19">
							<li><a href="/catalog/dymohodnaya-sistema-schiedel/" title="Дымоходная система Schiedel UNI">Дымоходная система Schiedel UNI</a></li>
							<li><a href="/catalog/ventilyacionnaya-sistema-schie/" title="Вентиляционная система Schiedel VENT">Вентиляционная система Schiedel VENT</a></li>
						</ul>
						<div num="19"><span>Изоляционные материалы</span></div>
						<ul class="menu_left_inside" num="19" dir="cat_5">
							<li><a href="/catalog/teploizolyatsiya/" title="Теплоизоляция">Теплоизоляция</a></li>
							<li><a href="/catalog/izolyatsiya/" title="Гидро-паро-ветро изоляция">Гидро-паро-ветро изоляция</a></li>
							<li><a href="/catalog/membranyi/" title="Профилированные мембраны">Профилированные мембраны</a></li>
							<li><a href="/catalog/penopolistirol/" title="Экструдированный пенополистирол">Экструдированный пенополистирол</a></li>
						</ul>
						<div num="20"><span>Канализационные системы</span></div>
						<ul class="menu_left_inside" num="20" dir="cat_38">
							<li><a href="/catalog/septiki/" title="Септики">Септики</a></li>
							<li><a href="/catalog/nakopitelnye_emkosti/" title="Накопительные ёмкости">Накопительные ёмкости</a></li>
							<li><a href="/catalog/drenazhnye_kolodcy/" title="Дренажные колодцы">Дренажные колодцы</a></li>
							<li><a href="/catalog/stancii_biologicheskoy_ochistk/" title="Станции биологической очистки">Станции биологической очистки</a></li>
						</ul>
						<div num="21"><span>Сантехника </span></div>
						<ul class="menu_left_inside" num="21" dir="cat_43">
							<li><a href="/catalog/smesiteli/" title="Смесители">Смесители</a></li>
							<li><a href="/catalog/ingenernayasantehnika/" title="Инженерная сантехника">Инженерная сантехника</a></li>
							<li><a href="/catalog/unitazi/" title="Унитазы">Унитазы</a></li>
							<li><a href="/catalog/rakovini/" title="Раковины">Раковины</a></li>
							<li><a href="/catalog/dusheviekabini/" title="Душевые кабины">Душевые кабины</a></li>
							<li><a href="/catalog/vanni/" title="Ванны">Ванны</a></li>
							<li><a href="/catalog/mebeljdlyavannoj/" title="Мебель для ванной">Мебель для ванной</a></li>
							<li><a href="/catalog/komplektimebeli/" title="Комплекты мебели">Комплекты мебели</a></li>
							<li><a href="/catalog/karnixidlyavamm/" title="Карнизы для ванн">Карнизы для ванн</a></li>
							<li><a href="/catalog/shtorinavannu/" title="Шторы на ванну">Шторы на ванну</a></li>
						</ul>
						<div num="22"><span>Электрика</span></div>
						<ul class="menu_left_inside" num="22" dir="cat_41">
							<li><a href="/catalog/osveshenie/" title="Освещение">Освещение</a></li>
							<li><a href="/catalog/elementipitaniya/" title="Элементы питания">Элементы питания</a></li>
							<li><a href="/catalog/viklyuchateli/" title="Автоматические выключатели, счетчики">Автоматические выключатели, счетчики</a></li>
							<li><a href="/catalog/rozetki/" title="Розетки, вилки, выключатели">Розетки, вилки, выключатели</a></li>
							<li><a href="/catalog/kabeli/" title="Кабели, провода">Кабели, провода</a></li>
							<li><a href="/catalog/korobki/" title="Коробки распределительные, установочные">Коробки распределительные, установочные</a></li>
							<li><a href="/catalog/prokladkakabelya/" title="Системы прокладки кабеля">Системы прокладки кабеля</a></li>
							<li><a href="/catalog/gofrirovannietrubi/" title="Трубы гофрированные ПВХ">Трубы гофрированные ПВХ</a></li>
							<li><a href="/catalog/dergateliskobi/" title="Держатели, скобы">Держатели, скобы</a></li>
							<li><a href="/catalog/udliniteli/" title="Удлинители, сетевые фильтры, тройники">Удлинители, сетевые фильтры, тройники</a></li>
							<li><a href="/catalog/raspredeliteljnieshiti/" title="Распределительные щиты">Распределительные щиты</a></li>
							<li><a href="/catalog/klemmniki/" title="Клеммники, шины, DIN-рейки">Клеммники, шины, DIN-рейки</a></li>
							<li><a href="/catalog/svetiljniki/" title="Светильники, люстры">Светильники, люстры</a></li>
						</ul>
						<div num="23"><span>Плитные материалы</span></div>
						<ul class="menu_left_inside" num="23" dir="cat_17">
							<li><a href="/catalog/OSB/" title="OSB">OSB</a></li>
							<li><a href="/catalog/gipsokarton/" title="Гипсокартон">Гипсокартон</a></li>
						</ul>
						<div num="24"><span>Сухие смеси</span></div>
						<ul class="menu_left_inside" num="24" dir="cat_13">
							<li><a href="/catalog/kley/" title="Клей">Клей</a></li>
							<li><a href="/catalog/tsement/" title="Цемент">Цемент</a></li>
							<li><a href="/catalog/shtukaturka/" title="Штукатурка">Штукатурка</a></li>
							<li><a href="/catalog/zatirki/" title="Затирки">Затирки</a></li>
							<li><a href="/catalog/shpatlevki/" title="Шпатлевки">Шпатлевки</a></li>
							<li><a href="/catalog/Rovniteli/" title="Ровнители">Ровнители</a></li>
							<li><a href="/catalog/spetsialnyie_sostavyi/" title="Специальные составы">Специальные составы</a></li>
						</ul>
						<div num="25"><span>Пены, герметики</span></div>
						<ul class="menu_left_inside" num="25" dir="cat_14">
							<li><a href="/catalog/penyi/" title="Пены">Пены</a></li>
							<li><a href="/catalog/germetiki/" title="Герметики">Герметики</a></li>
							<li><a href="/catalog/zhidkie_gvozdi/" title="Жидкие гвозди">Жидкие гвозди</a></li>
						</ul>
						<div num="26"><span>Лакокрасочные материалы</span></div>
						<ul class="menu_left_inside" num="26" dir="cat_22">
							<li><a href="/catalog/neomid/" title="NEOMID">NEOMID</a></li>
							<li><a href="/catalog/finkraska/" title="Финкраска">Финкраска</a></li>
							<li><a href="/catalog/TURY/" title="TURY">TURY</a></li>
							<li><a href="/catalog/tex/" title="ТЕКС">ТЕКС</a></li>
							<li><a href="/catalog/krafor/" title="KRAFOR">KRAFOR</a></li>
							<li><a href="/catalog/tikkurila/" title="TIKKURILA">TIKKURILA</a></li>
							<li><a href="/catalog/gruntovki/" title="Грунты">Грунты</a></li>
							<li><a href="/catalog/gruntemalj/" title="Грунт-Эмаль">Грунт-Эмаль</a></li>
							<li><a href="/catalog/emali/" title="Эмали">Эмали</a></li>
							<li><a href="/catalog/antiseptiki/" title="Антисептики">Антисептики</a></li>
							<li><a href="/catalog/kolerovka_kraski/" title="Колеровка краски">Колеровка краски</a></li>
						</ul>
						<div num="27"><span>Потолки</span></div>
						<ul class="menu_left_inside" num="27" dir="cat_12">
							<li><a href="/catalog/podvesnoy_potolok/" title="Подвесной потолок">Подвесной потолок</a></li>
							<li><a href="/catalog/reechniy_potolok/" title="Реечный потолок">Реечный потолок</a></li>
						</ul>
						<div num="28"><span>Обои</span></div>
						<ul class="menu_left_inside" num="28" dir="cat_42">
							<li><a href="/catalog/vinilovieoboi/" title="Виниловые обои">Виниловые обои</a></li>
							<li><a href="/catalog/bumagnieoboi/" title="Бумажные обои ">Бумажные обои </a></li>
							<li><a href="/catalog/steklooboi/" title="Стеклообои">Стеклообои</a></li>
							<li><a href="/catalog/flizelinovieoboi/" title="Флизелиновые обои">Флизелиновые обои</a></li>
							<li><a href="/catalog/probkovye_oboi/" title="Пробковые обои">Пробковые обои</a></li>
							<li><a href="/catalog/zjidkieoboi/" title="Жидкие обои">Жидкие обои</a></li>
							<li><a href="/catalog/fotooboi/" title="Фотообои">Фотообои</a></li>
						</ul>
						<div num="29"><span>Настенные покрытия</span></div>
						<ul class="menu_left_inside" num="29" dir="cat_36">
							<li><a href="/catalog/pvh_paneli/" title="ПВХ-панели">ПВХ-панели</a></li>
							<li><a href="/catalog/probkovye_pokrytiya/" title="Пробковые покрытия">Пробковые покрытия</a></li>
						</ul>
						<div num="30"><span>Керамическая плитка</span></div>
						<ul class="menu_left_inside" num="30" dir="cat_35">
							<li><a href="/catalog/azori/" title="АЗОРИ">АЗОРИ</a></li>
							<li><a href="/catalog/kerabud/" title="КЕРАБУД">КЕРАБУД</a></li>
							<li><a href="/catalog/keramamaracci/" title="КЕРАМА МАРАЦЦИ">КЕРАМА МАРАЦЦИ</a></li>
							<li><a href="/catalog/m-kvadrat/" title="М-КВАДРАТ">М-КВАДРАТ</a></li>
							<li><a href="/catalog/keramin/" title="КЕРАМИН">КЕРАМИН</a></li>
						</ul>
						<div num="31"><span>Керамогранит</span></div>
						<ul class="menu_left_inside" num="31" dir="cat_26">
							<li><a href="/catalog/STANDARD/" title="STANDARD">STANDARD</a></li>
							<li><a href="/catalog/RAINBOW/" title="RAINBOW">RAINBOW</a></li>
							<li><a href="/catalog/ANTICA/" title="ANTICA">ANTICA</a></li>
							<li><a href="/catalog/STONE/" title="STONE">STONE</a></li>
							<li><a href="/catalog/MARMI/" title="MARMI">MARMI</a></li>
							<li><a href="/catalog/TREND/" title="TREND">TREND</a></li>
							<li><a href="/catalog/DREAM/" title="DREAM">DREAM</a></li>
							<li><a href="/catalog/HARD/" title="HARD">HARD</a></li>
							<li><a href="/catalog/COUNTRY/" title="COUNTRY">COUNTRY</a></li>
							<li><a href="/catalog/LATTE/" title="LATTE">LATTE</a></li>
							<li><a href="/catalog/RICH/" title="RICH">RICH</a></li>
							<li><a href="/catalog/ENERGY_TIME/" title="ENERGY TIME ">ENERGY TIME </a></li>
							<li><a href="/catalog/STRONG/" title="STRONG">STRONG</a></li>
							<li><a href="/catalog/JAZZ/" title="JAZZ">JAZZ</a></li>
							<li><a href="/catalog/BOLERO/" title="BOLERO">BOLERO</a></li>
							<li><a href="/catalog/TASTE_Time/" title="TASTE Time">TASTE Time</a></li>
							<li><a href="/catalog/CHALET/" title="CHALET">CHALET</a></li>
							<li><a href="/catalog/PREMIER/" title="PREMIER">PREMIER</a></li>
							<li><a href="/catalog/YOUR_COLOR/" title="YOUR COLOR">YOUR COLOR</a></li>
							<li><a href="/catalog/AGLOMERAT/" title="AGLOMERAT">AGLOMERAT</a></li>
							<li><a href="/catalog/BRIGANTINA/" title="BRIGANTINA">BRIGANTINA</a></li>
							<li><a href="/catalog/evrokeramika/" title="Еврокерамика">Еврокерамика</a></li>
							<li><a href="/catalog/tehnicheskiy_granit/" title="Технический гранит">Технический гранит</a></li>
						</ul>
						<div num="32"><span>Напольные покрытия</span></div>
						<ul class="menu_left_inside" num="32" dir="cat_9">
							<li><a href="/catalog/linoleum/" title="Линолеум">Линолеум</a></li>
							<li><a href="/catalog/napolnye_pvh_pokrytiya/" title="Напольные ПВХ-покрытия">Напольные ПВХ-покрытия</a></li>
							<li><a href="/catalog/laminat/" title="Ламинат">Ламинат</a></li>
							<li><a href="/catalog/laminatswiss/" title="Ламинат Swiss Krono (Kronopol)">Ламинат Swiss Krono (Kronopol)</a></li>
							<li><a href="/catalog/plintus/" title="Аксессуары">Аксессуары</a></li>
							<li><a href="/catalog/vlagost_shpuntovannyie_plityi/" title="Влагостойкие шпунтованные плиты">Влагостойкие шпунтованные плиты</a></li>
							<li><a href="/catalog/parketnayadoska/" title="Паркетная доска">Паркетная доска</a></li>
							<li><a href="/catalog/probkoviepokritiya/" title="Пробковые покрытия">Пробковые покрытия</a></li>
						</ul>
						<div num="33"><span>Двери</span></div>
						<ul class="menu_left_inside" num="33" dir="cat_11">
							<li><a href="/catalog/dveri_PVH/" title="Двери ПВХ">Двери ПВХ</a></li>
							<li><a href="/catalog/dverilaminirovannie/" title="Двери ламинированные">Двери ламинированные</a></li>
							<li><a href="/catalog/dveri_shponirovannyie/" title="Двери шпонированные">Двери шпонированные</a></li>
							<li><a href="/catalog/dveri_ekoshpon/" title="Двери Экошпон">Двери Экошпон</a></li>
							<li><a href="/catalog/dveri_metallicheskie/" title="Двери входные металлические">Двери входные металлические</a></li>
							<li><a href="/catalog/soputstvuyshie/" title="Скобяные изделия">Скобяные изделия</a></li>
						</ul>
						<div num="34"><span>Товары для дома</span></div>
						<ul class="menu_left_inside" num="34" dir="cat_44">
							<li><a href="/catalog/sistemavodoochistki/" title="Система водоочистки">Система водоочистки</a></li>
						</ul>
						<div num="35"><span>Сад, дача, огород</span></div>
						<ul class="menu_left_inside" num="35" dir="cat_30">
							<li><a href="/catalog/terrasnaya_doska/" title="Террасная доска">Террасная доска</a></li>
							<li><a href="/catalog/sadovyiy_parket/" title="Садовый паркет">Садовый паркет</a></li>
							<li><a href="/catalog/sadovyie_ograzhdeniya/" title="Садовые ограждения">Садовые ограждения</a></li>
							<li><a href="/catalog/ogorod/" title="Товары для огорода">Товары для огорода</a></li>
						</ul>
						<div num="36"><span>Инструмент</span></div>
						<ul class="menu_left_inside" num="36" dir="cat_37">
							<li><a href="/catalog/elektroinstrument/" title="Электроинструмент">Электроинструмент</a></li>
							<li><a href="/catalog/benzoinstrument/" title="Бензоинструмент">Бензоинструмент</a></li>
							<li><a href="/catalog/avtomojki/" title="Автомойки, насосы">Автомойки, насосы</a></li>
							<li><a href="/catalog/svarka/" title="Сварка, стабилизаторы">Сварка, стабилизаторы</a></li>
							<li><a href="/catalog/instrumentryobi/" title="Инструмент Ryobi ONE+">Инструмент Ryobi ONE+</a></li>
							<li><a href="/catalog/prochieinstrumenti/" title="Прочие инструменты">Прочие инструменты</a></li>
						</ul>
						<div num="37"><span>Ручной инструмент</span></div>
						<ul class="menu_left_inside" num="37" dir="cat_15">
							<li><a href="/catalog/diski/" title="Диски">Диски</a></li>
							<li><a href="/catalog/slesarnyiy_instrument/" title="Столярный, слесарный инструмент">Столярный, слесарный инструмент</a></li>
							<li><a href="/catalog/shpateli/" title="Шпатели">Шпатели</a></li>
							<li><a href="/catalog/sverla_bityi/" title="Сверла, биты">Сверла, биты</a></li>
							<li><a href="/catalog/malyarnyiy_instrument/" title="Малярный инструмент">Малярный инструмент</a></li>
							<li><a href="/catalog/nozhi_nozhnitsyi/" title="Ножи, ножницы по металлу, ножовки, лобзики">Ножи, ножницы по металлу, ножовки, лобзики</a></li>
							<li><a href="/catalog/urovni_i_pravila/" title="Уровни и Правила">Уровни и Правила</a></li>
							<li><a href="/catalog/stepleryi_skobyi/" title="Степлеры, скобы, заклепочники">Степлеры, скобы, заклепочники</a></li>
							<li><a href="/catalog/prochie/" title="Прочие">Прочие</a></li>
							<li><a href="/catalog/sredstva_individ_zaschityi/" title="Средства индивидуальной защиты">Средства индивидуальной защиты</a></li>
						</ul>
						<div num="38"><span>Метизы</span></div>
						<ul class="menu_left_inside" num="38" dir="cat_16">
							<li><a href="/catalog/samorezyi/" title="Саморезы">Саморезы</a></li>
						</ul>
					</div>
					.header-search__search
						input.header-search__search-input(type="text", placeholder="Поиск по каталогу")
