include foo.html
//- footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__col.foo__col-1
						img(src="images/logo.png", alt="Квадратный метр: строительный супермаркет", width="271", height="57")
						.foo__inner
							.foo__phone
								span.i-phone-xs.foo__phone-icon
								span.foo__phone-number
									| (8162) 96-12-96
							.foo__info
								| Великий Новгород, Связи, 8 
								br
								| © Квадратный метр, 2013
							.foo__social
								a(href="#")
									span.i-social-vk
								a(href="#")
									span.i-social-fb
								a(href="#")
									span.i-social-tw
							.visible-sm
								.foo__last-sm
									.foo__copy
										a(href="#")
											img(src="images/foo/alexrunet.png", alt="", width="117", height="21")
									a(href="#")
										span.i-search
					.visible-xs
						.foo__col.foo__col-2-xs
							ul.foo-nav
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Главная
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| О компании
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Вакансии
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Новости
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Контакты
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Услуги

							ul.foo-nav
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Акции
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Квартира в подарок
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Программы лояльности
								li.foo-nav__item
									a.foo-nav__link(href="#")
										| Новосёлам
								
					.foo__col.foo__col-2.hidden-xs
						ul.foo-nav
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Главная
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| О компании
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Вакансии
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Новости
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Контакты
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Услуги
					.foo__col.foo__col-3.hidden-xs
						ul.foo-nav
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Акции
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Квартира в подарок
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Программы лояльности
							li.foo-nav__item
								a.foo-nav__link(href="#")
									| Новосёлам
					.foo__col.foo__col-4
						.foo__col-title
							| Переход на сайт:
						table.foo-table-nav
							tr
								td.foo-table-nav__td.foo-table-nav__td-pr
									a(href="#")
										img(src="images/foo/link.jpg", alt="", width="30", height="26")
								td.foo-table-nav__td.foo-table-nav__td-title
									a.foo-table-nav__link(href="#")
										| Кровли, фасады 
							tr
								td.foo-table-nav__td.foo-table-nav__td-pr
									a(href="#")
										img(src="images/foo/link.jpg", alt="", width="30", height="26")
								td.foo-table-nav__td.foo-table-nav__td-title
									a.foo-table-nav__link(href="#")
										| Квартиры от застройщика 
							tr
								td.foo-table-nav__td.foo-table-nav__td-pr
									a(href="#")
										img(src="images/foo/link.jpg", alt="", width="30", height="26")
								td.foo-table-nav__td.foo-table-nav__td-title
									a.foo-table-nav__link(href="#")
										| Строительство и проектирование 
							tr
								td.foo-table-nav__td.foo-table-nav__td-pr
									a(href="#")
										img(src="images/foo/link.jpg", alt="", width="30", height="26")
								td.foo-table-nav__td.foo-table-nav__td-title
									a.foo-table-nav__link(href="#")
										| ЖД «Премьера»
							tr
								td.foo-table-nav__td.foo-table-nav__td-pr
									a(href="#")
										img(src="images/foo/link.jpg", alt="", width="30", height="26")
								td.foo-table-nav__td.foo-table-nav__td-title
									a.foo-table-nav__link(href="#")
										| Строительный холдинг
					.foo__col.foo__col-5.hidden-sm
						.foo__last
							a.foo__last-item-1(href="#")
								span.i-search
							.foo__last-item-2.foo__copy
								a(href="#")
									img(src="images/foo/alexrunet.png", alt="", width="117", height="21")