nav.nav-top: .container: .row: .col-xs-12
	button.header-search__catalog.visible-xs.nav-top__button Навигация
	ul.nav-top__list
		li.nav-top__item: a.nav-top__link(href="#") О салоне
		li.nav-top__item: a.nav-top__link(href="#") Кровля
		li.nav-top__item: a.nav-top__link(href="#") Фасады
		li.nav-top__item: a.nav-top__link(href="#") Производство