.product-tabs: .container: .row: .col-xs-12
	ul.product-tabs__items
		li.product-tabs__item.product-tabs__item_active: a.product-tabs__link.product-tabs__link_active(href="#") Технические характеристики
		li.product-tabs__item: a.product-tabs__link(href="#") Применение и инструкция по эксплуатации
		li.product-tabs__item: a.product-tabs__link(href="#") Правила хранения
		li.product-tabs__item: a.product-tabs__link(href="#") Сертификаты
		li.product-tabs__item: a.product-tabs__link(href="#") Гарантийный талон

.product-tabs-content: .container: .row: .col-xs-12
	.product-tabs-content__items
		.product-tabs-content__item.product-tabs-content__item_active
			.table-wrapper: table
				tr
					th Размер, см
					th Шт в упаковке
					th Площадь, м²
					th Объем, м³
					th Вес, кг
				tr
					td 1000 х 600 х 50
					td 12
					td 7,2
					td 0,36
					td 2,2 
				tr
					td 1000 х 600 х 100
					td 6 
					td 3,6
					td 0,36
					td 2,9
		.product-tabs-content__item
			.table-wrapper: table
				tr
					th Размер, см
					th Шт в упаковке
					th Площадь, м²
					th Объем, м³
					th Вес, кг
				tr
					td 1000 х 600 х 50
					td 12
					td 7,2
					td 0,36
					td 2,2 
				tr
					td 1000 х 600 х 100
					td 6 
					td 3,6
					td 0,36
					td 2,9
		.product-tabs-content__item
			.table-wrapper: table
				tr
					th Размер, см
					th Шт в упаковке
					th Площадь, м²
					th Объем, м³
					th Вес, кг
				tr
					td 1000 х 600 х 50
					td 12
					td 7,2
					td 0,36
					td 2,2 
				tr
					td 1000 х 600 х 100
					td 6 
					td 3,6
					td 0,36
					td 2,9
		.product-tabs-content__item
			.table-wrapper: table
				tr
					th Размер, см
					th Шт в упаковке
					th Площадь, м²
					th Объем, м³
					th Вес, кг
				tr
					td 1000 х 600 х 50
					td 12
					td 7,2
					td 0,36
					td 2,2 
				tr
					td 1000 х 600 х 100
					td 6 
					td 3,6
					td 0,36
					td 2,9
		.product-tabs-content__item
			h2 Металлочерепица — кровельный материал.
			p Кровельный материал, представляющий собой листы, изготовленные из тонколистовой стали, алюминия или меди, покрытые полимерным защитным слоем, профилированные методом холодного давления. Листы металлочерепицы по внешнему виду напоминают кладку керамической черепицы.
			
			p Сегодня металлочерепица является популярным кровельным материалом: она используется в самых различных климатических условиях.
			ul
				li Плитка
				li Ламинат
				li Металлочерепица
				li Гранит
			.gallery-with-text
				a.gallery-with-text__item(href="images/gallery-with-text/1.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/1.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/2.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/2.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/3.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/3.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/4.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/4.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/5.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/5.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/6.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/6.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/7.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/7.jpg", width="270" height="180" alt="")
				a.gallery-with-text__item(href="images/gallery-with-text/8.jpg" data-fancybox)
					img.gallery-with-text__pr(src="images/gallery-with-text/8.jpg", width="270" height="180" alt="")
			
			.attach-with-text
				a.attach.attach-with-text__item(href="#")
					svg.attach__icon(width="20" height="20"): use(xlink:href="images/sprite.svg#attach")
					span.attach__text Информация об акциях.PDF ( 162 KB )

				a.attach.attach-with-text__item(href="#")
					svg.attach__icon(width="20" height="20"): use(xlink:href="images/sprite.svg#attach")
					span.attach__text Информация об акциях.PDF ( 162 KB )

				a.attach.attach-with-text__item(href="#")
					svg.attach__icon(width="20" height="20"): use(xlink:href="images/sprite.svg#attach")
					span.attach__text Безналичная оплата.PDF ( 162 KB )
		
			p Отзывы о на шей продукции: 

			blockquote
				p «... Кровельный материал, представляющий собой листы, изготовленные из тонколистовой стали, алюминия или меди, покрытые полимерным защитным слоем, профилированные методом холодного давления. Листы металлочерепицы по внешнему виду напоминают кладку керамической черепицы.

				p Сегодня металлочерепица является популярным кровельным материалом: она используется в самых различных климатических условиях... »

.product-nav: .container: .row: .col-xs-12: ul.product-nav__list
	li.product-nav__item: a.product-nav__link(href="#") Доставка
	li.product-nav__item: a.product-nav__link(href="#") Оплата
	li.product-nav__item
		svg.product-nav__icon(width="12" height="16"): use(xlink:href="images/sprite.svg#location-target")
		a.product-nav__link(href="#") Самовывоз
	li.product-nav__item: a.product-nav__link(href="#") Коперовка