doctype html
html(lang="ru")
	head
		include jade/head.jade
		//- script(src="node_modules/pixel-glass/script.js")
		//- link(rel="stylesheet", href="node_modules/pixel-glass/styles.css")
		style
			//- | body {
			//- |   background: url(pixel/catalog.png) center 0
			//- | }
	body
		include jade/header-two.pug
		.container: .row(style="padding-top: 40px;")
			.col-xs-12.col-sm-4.col-md-3: aside.aside.aside_filter
				include jade/aside/filter.jade
			.col-xs-12.col-sm-8.col-md-9
				include jade/side/slider-category.jade
				include jade/catalog/goods-small.jade
				include jade/catalog/goods-small.jade
				include jade/catalog/goods-small.jade
		.container: .row(style="padding-top: 9px;")
			.col-xs-12.col-sm-4.col-md-3: aside.aside.aside_filter
				include jade/aside/subscribe.jade
			.col-xs-12.col-sm-8.col-md-9
				include jade/side/e-catalog.jade
		.container: .row
			.col-xs-12.col-sm-4.col-md-3
				
			.col-xs-12.col-sm-8.col-md-9
				include jade/side/text-content.jade

		include jade/action/info-2.jade
		include jade/edge/info.jade

		include jade/main/check.jade
		include jade/main/win.jade
		include jade/main/grand.jade
		include jade/foo.jade
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js")
		script(src="js/jquery.formstyler.min.js")
		script(src="js/main.js")
