doctype html
html(lang="ru")
	head
		include jade/head.jade
	body
		include jade/header.jade
		include jade/main/settlers.jade
		include jade/main/gift-card.jade
		include jade/main/gift-card-2.jade
		include jade/main/gift-all.jade
		include jade/main/plus.jade
		include jade/main/gift-card-2--2.jade
		include jade/main/catchword.jade
		include jade/main/plus-invert.jade
		include jade/main/catchword-2.jade
		include jade/catalog/sheet-finishing.jade
		include jade/catalog/dry-mixes.jade
		include jade/catalog/paints.jade
		include jade/catalog/sanitary.jade
		include jade/catalog/ceramics.jade
		include jade/catalog/floor.jade
		include jade/catalog/doors.jade
		include jade/catalog/wallpaper.jade
		include jade/catalog/goods.jade
		include jade/main/amenities.jade
		include jade/main/about.jade
		include jade/main/check.jade
		include jade/main/win.jade
		include jade/main/grand.jade
		include jade/foo.jade

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.8/svg4everybody.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js")
		script(src="js/main.js")
