.aside-filter
	h3.aside-filter__title Фильтр

	.aside-filter__body
		.aside-filter__group
			.aside-filter__group-title.aside-filter__group-title_open Цена

			.aside-filter__group-body.aside-filter__group-body_open
				label.aside-filter__label
					span.aside-filter__label-text.aside-filter__label-text_left от
					input.aside-filter__field(type="number")

				label.aside-filter__label
					span.aside-filter__label-text.aside-filter__label-text_left до
					input.aside-filter__field(type="number")

		.aside-filter__group
			.aside-filter__group-title.aside-filter__group-title_open Плотность

			.aside-filter__group-body.aside-filter__group-body_open
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 400

				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 500

				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 1250

		.aside-filter__group
			.aside-filter__group-title.aside-filter__group-title_open Размер
			
			.aside-filter__group-body.aside-filter__group-body_open
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х250

				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х100
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х150
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х200
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х300
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х400
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х85
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 500х250х300
						
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 900х300х80

		.aside-filter__group
			.aside-filter__group-title.aside-filter__group-title_open Плотность

			.aside-filter__group-body.aside-filter__group-body_open
				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 400

				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 500

				label.aside-filter__label
					input.aside-filter__checkbox(type="checkbox")
					span.aside-filter__label-text.aside-filter__label-text_right 1250

		.aside-filter__group
			.aside-filter__group-title.aside-filter__group-title_open Размер
			
			.aside-filter__group-body.aside-filter__group-body_open
				label.aside-filter__label
					input.aside-filter__radio(type="radio" name="size")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х250

				label.aside-filter__label
					input.aside-filter__radio(type="radio" name="size")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х100
						
				label.aside-filter__label
					input.aside-filter__radio(type="radio" name="size")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х150
						
				label.aside-filter__label
					input.aside-filter__radio(type="radio" name="size")
					span.aside-filter__label-text.aside-filter__label-text_right 625х250х200
