.section-amb
	.section-amb-background
		.section-amb-background__left.section-amb-background__column
		.section-amb-background__right.section-amb-background__column
	.container: .row: .col-xs-12: .section-amb__container
		.section-amb__column
			.section-amb__title
				| Я строю
				br
				a.section-amb__link(href="#") Частный дом
		.section-amb__column
			.section-amb__title
				| Я строю
				br
				a.section-amb__link(href="#") Коммерческий
					br
					| объект
