.visible-lg.section-banners: .container: .row
	.col-xs-6
		a.section-banners__item.section-banners__item-1(href="#")
			.section-banners__title Специальные
				br
				| предложения
			.section-banners__subtitle Новосёлам
	.col-xs-3
		a.section-banners__item.section-banners__item-2(href="#")
			.section-banners__title Многоквартирный
				br
				| дом
			.section-banners__subtitle «Премьера»
	.col-xs-3
		a.section-banners__item.section-banners__item-3(href="#")
			.section-banners__subtitle.section-banners__subtitle-3 Квартира 
				br
				| в подарок

	