.section-crossroads
	.section-crossroads-bg
		.section-crossroads-bg__left
		.section-crossroads-bg__right
	.container: .row: .col-xs-12
		.section-crossroads__container
			.section-crossroads__column
				.section-crossroads__title Кровля
				a.section-crossroads__button.flat-button.flat-button_theme_red.flat-button_arrow(href="#") Перейти в каталог
			.section-crossroads__column
				.section-crossroads__title Фасады
				a.section-crossroads__button.flat-button.flat-button_theme_red.flat-button_arrow(href="#") Перейти в каталог

