.section-form: .container: .row: .col-xs-12
	h3.section-form__title Бесплатная консультация по подбору металлочерепицы
	p.section-form__desc Наши менеджеры свяжутся с вами и помогут выбрать то, что подойдёт именно вам
	form.section-form__container
		.section-form__column
			input.section-form__field(placeholder="Ваше имя")
		.section-form__column
			input.section-form__field(placeholder="Ваш телефон")
		.section-form__column
			input.section-form__field(placeholder="Ваш емэйл")
		.section-form__column
			button.section-form__button.flat-button.flat-button_theme_orange.flat-button_arrow Отправить заявку