//- icon list edge
.section-ile: .container: .row: .col-xs-12: .section-ile__container
	.section-ile__column
		.visible-xs: h4.text-center Кровля
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c24" fill="#F5891F")
			.ile-row__text
				b 1.
				|  Два крупнейших производителя в одном магазине.
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c17" fill="#F5891F")
			.ile-row__text
				b 2.
				|  Ассортимент современных кровель
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c21" fill="#F5891F")
			.ile-row__text 
				b 3.
				|  Полная комплектация кровли
	.section-ile__column
		.visible-xs: h4.text-center Фасады
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c16" fill="#F5891F")
			.ile-row__text
				b  1.
				|  Все популярные виды фасадов
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c19" fill="#F5891F")
			.ile-row__text 
				b 2.
				|  Более 6 производителей
		.ile-row.section-ile__row
			.ile-row__icon: svg.svg(width="50", height="50"): use(xlink:href="images/sprite.svg#c23" fill="#F5891F")
			.ile-row__text
				b 3.
				|  Собственный цех по производству доборных элементоа