.section-icon-edge.section-icon-edge_theme_white: .container: .row: .col-xs-12
	.section-icon-edge__list
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c1" fill="#F5891F")
			.m-icon-edge__title Пожаробезопасно
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c4" fill="#F5891F")
			.m-icon-edge__title Не боится воды
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c21" fill="#F5891F")
			.m-icon-edge__title Полная комплектация
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c10" fill="#F5891F")
			.m-icon-edge__title Прочная и долговечная
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c3" fill="#F5891F")
			.m-icon-edge__title Не выгорает на солнце
		.section-icon-edge__item: .m-icon-edge
			.m-icon-edge__pr
				svg.svg(width="100", height="100"): use(xlink:href="images/sprite.svg#c2" fill="#F5891F")
			.m-icon-edge__title Защищает от всех осадков
	a.flat-button.flat-button_theme_red Расчитать материал
	.quote Металлочерепица — кровельный материал, представляющий собой листы, изготовленные из тонколистовой стали, алюминия или меди, покрытые полимерным защитным слоем, профилированные методом холодного давления. 
		br
		| Листы металлочерепицы по внешнему виду напоминают кладку керамической черепицы.
		br
		| Сегодня металлочерепица является популярным кровельным материалом: она используется в самых различных климатических условиях.
