.section-in-edge: .container: .row
	.col-xs-12: h3.section-in-edge__title Преимущества
	.col-xs-12.col-sm-4
		.in-edge
			.in-edge__icon: svg.svg(width="83", height="94"): use(xlink:href="images/sprite.svg#e1" fill="#F5891F")
			.in-edge__title Быстрый расчёт
			.in-edge__desc Более подроьный текст об этой услуге, длинной не более 150 символов
	.col-xs-12.col-sm-4
		.in-edge
			.in-edge__icon: svg.svg(width="82", height="87"): use(xlink:href="images/sprite.svg#e2" fill="#F5891F")
			.in-edge__title Собственное производство
			.in-edge__desc Более подроьный текст об этой услуге, длинной не более 150 символов
	.col-xs-12.col-sm-4
		.in-edge
			.in-edge__icon: svg.svg(width="86", height="91"): use(xlink:href="images/sprite.svg#e3" fill="#F5891F")
			.in-edge__title Холодное остекление
			.in-edge__desc Более подроьный текст об этой услуге, длинной не более 150 символов