.section-in-types.section-in-types_theme_gray: .container: .row: .col-xs-12
	h3.section-in-types__title Многообразие модельного ряда и цветовой политры:
	.section-in-types__list.section-in-types__list_around
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					a(href="#"): img.a-pr-200x200(src="images/section/types/1.jpg", width="200", height="200")
				.m-in-types__title: a(href="#") CLASSIC
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					a(href="#"): img.a-pr-200x200(src="images/section/types/2.jpg", width="200", height="200")
				.m-in-types__title: a(href="#") KAMEA
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					a(href="#"): img.a-pr-200x200(src="images/section/types/3.jpg", width="200", height="200")
				.m-in-types__title: a(href="#") KVINTA
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					a(href="#"): img.a-pr-200x200(src="images/section/types/4.jpg", width="200", height="200")
				.m-in-types__title: a(href="#") COUNTRY