.section-in-types: .container: .row: .col-xs-12
	h3.section-in-types__title Виды кровли
	.section-in-types__list
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					img.a-pr-200x200(src="images/section/types/1.jpg", width="200", height="200")
				.m-in-types__title Коллекция «Кёльн»
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					img.a-pr-200x200(src="images/section/types/2.jpg", width="200", height="200")
				.m-in-types__title Коллекция «Генуя»
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					img.a-pr-200x200(src="images/section/types/3.jpg", width="200", height="200")
				.m-in-types__title Коллекция «Шеффилд»
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					img.a-pr-200x200(src="images/section/types/4.jpg", width="200", height="200")
				.m-in-types__title Коллекция «Цюрих»
		.section-in-types__item
			.m-in-types
				.m-in-types__pr
					img.a-pr-200x200(src="images/section/types/5.jpg", width="200", height="200")
				.m-in-types__title Коллекция «Гранада»
	a.section-in-types__button.flat-button.flat-button_theme_red.flat-button_size_md(href="#") Расчитать кровлю