.section-logos: .container: .row: .col-xs-12: .section-logos__container
	a.section-logos__item(href="#"): img(src="images/section/logos/1.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/2.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/3.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/4.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/5.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/6.png")
	a.section-logos__item(href="#"): img(src="images/section/logos/7.png")