.section-need: .container: .row: .col-xs-12
	h3.section-need__title Что ещё понадобится для крыши?

	.section-need__container
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/1.jpg")
				.m-need__title: a(href="#") Ровнители,
					br
					| спецсоставы
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/2.jpg")
				.m-need__title: a(href="#") Штукатурки,
					br
					| шпаклёвки
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/3.jpg")
				.m-need__title: a(href="#") Клеи
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/4.jpg")
				.m-need__title: a(href="#") Затирки
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/5.jpg")
				.m-need__title: a(href="#") Утеплитель, гидро-,паро, ветроизоляция, кровельные рулонные материалы
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/6.jpg")
				.m-need__title: a(href="#") Водосточные системы, металлические, пластиковые
		.section-need__item
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/7.jpg")
				.m-need__title: a(href="#") Лаки, морилка
		.section-need__item 
			.m-need
				.m-need__pr
					a(href="#"): img(src="images/section/need/8.jpg")
				.m-need__title: a(href="#") Колеровка, краски

	a.section-need__button.flat-button.flat-button_theme_red(href="#") Расчитать материал