.section-wallpaper-item: .container: .row: .col-xs-12: .section-wallpaper-item__container
	.section-wallpaper-item__row
		.section-wallpaper-item__column
			a.section-wallpaper-item__mark(href="#") Кровля
			h2.section-wallpaper-item__title Металлочерепица
		.section-wallpaper-item__column
			.section-wallpaper-item__garant Гарантия 
				br
				| до 40 лет
	.section-wallpaper-item__foo
		.section-wallpaper-item__desc Благородсность черепицы, долговечность оцинкованной стали
		.section-wallpaper-item__logos
			a.section-wallpaper-item__logo(href="#"): img(src="images/section/wallpaper-item/logo-1.png")
			a.section-wallpaper-item__logo(href="#"): img(src="images/section/wallpaper-item/logo-2.png")
			a.section-wallpaper-item__logo(href="#"): img(src="images/section/wallpaper-item/logo-1.png")
			a.section-wallpaper-item__logo(href="#"): img(src="images/section/wallpaper-item/logo-2.png")
