.section-zero: .container: .row
	.col-xs-12
		h3.section-zero__title Строите дом «с нуля»?
		p.section-zero__desc Тогда вдополнение подберём стеновые 
			br
			| материалы по выгодным ценам 
	
	.col-xs-12: .section-zero__items
		.section-zero__group
			a.section-zero__item.section-zero__item_2x(href="images/section/zero/1.jpg" data-fancybox="1" title="Новая коллекция металлочерепицы")
				.section-zero__item-pr: img(src="images/section/zero/1.jpg")
				.section-zero__item-title Новая коллекция металлочерепицы
		.section-zero__group
			a.section-zero__item(href="images/section/zero/2.jpg" data-fancybox="1" title="Керамогранит или любая другая подпись")
				.section-zero__item-pr: img(src="images/section/zero/2.jpg")
				.section-zero__item-title Керамогранит 
					br
					| или любая другая подпись
			a.section-zero__item(href="images/section/zero/3.jpg" data-fancybox="1" title="Облицовачная плитка или любая другая подпись")
				.section-zero__item-pr: img(src="images/section/zero/3.jpg")
				.section-zero__item-title Облицовачная плитка 
					br
					| или любая другая подпись
		.section-zero__group
			a.section-zero__item.section-zero__item_2x(href="images/section/zero/1.jpg" data-fancybox="1" title="Новая коллекция металлочерепицы")
				.section-zero__item-pr: img(src="images/section/zero/1.jpg")
				.section-zero__item-title Новая коллекция металлочерепицы