.edge-info: .container: .row
	.col-xs-12.col-sm-6.col-md-3
		.edge-info__item
			.edge-info__pr: svg(width="100" height="60"): use(xlink:href="images/sprite.svg#edge-info-1")
			.edge-info__title Ассортимент
			.edge-info__desc Всегда в наличии более 17 000 наименований строительных материалов.
	.col-xs-12.col-sm-6.col-md-3
		.edge-info__item
			.edge-info__pr: svg(width="96" height="44"): use(xlink:href="images/sprite.svg#edge-info-2")
			.edge-info__title Доставка
			.edge-info__desc Многоуровневая система управления качеством по стандарту ISO9001
	.col-xs-12.col-sm-6.col-md-3
		.edge-info__item
			.edge-info__pr: svg(width="43" height="60"): use(xlink:href="images/sprite.svg#edge-info-3")
			.edge-info__title Качество
			.edge-info__desc Мы доставляем товары в течение 2 часов или в любой удобный Вам день и ремя.
	.col-xs-12.col-sm-6.col-md-3
		.edge-info__item
			.edge-info__pr: svg(width="60" height="82"): use(xlink:href="images/sprite.svg#edge-info-4")
			.edge-info__title Возврат товара
			.edge-info__desc Остались излишки или не подходит товар? Верните его нам в течение 120 ней!