.action-info-2
	.container: .row: .col-xs-12
		.action-info-2__grid
			.action-info-2__column
				.action-info-2__text Новосёлу вернём 
					br
					| до 15% с покупок
			.action-info-2__column
				.action-info-2__text Не забудь потратить 
					br
					| честные бонусы