.action-info
	.container: .row: .col-xs-12
		.action-info__grid
			.action-info__column
				svg.action-info__icon(width="75" height="75"): use(xlink:href="images/sprite.svg#action-info-1")
				.action-info__text Новосёлу вернём 
					br
					| до 15% с покупок
			.action-info__column
				svg.action-info__icon(width="70" height="48"): use(xlink:href="images/sprite.svg#action-info-2")
				.action-info__text Не забудь потратить 
					br
					| честные бонусы