.action-aerocrete
	.action-aerocrete__icon %
	.action-aerocrete__text
		.action-aerocrete__title Акция на газобетон
		.action-aerocrete__slogan скидки до конца ноября до 20%
	a.action-aerocrete__button.flat-button.flat-button_theme_red(href="#") Смотреть товары