.side-catalog
	h3.side-catalog__title Газобетонные и стеновые блоки
	.side-catalog__body
		.side-catalog__item.side-card
			.side-card__title: a(href="#") Кирпич печной
			a(href="#"): img.side-card__pr(src="images/side/catalog/1.jpg" width="180" height="132")

		.side-catalog__item.side-card
			.side-card__title: a(href="#") Кирпич лицевой
			a(href="#"): img.side-card__pr(src="images/side/catalog/2.jpg" width="180" height="132")

		.side-catalog__item.side-card
			.side-card__title: a(href="#") Кирпич строительный
			a(href="#"): img.side-card__pr(src="images/side/catalog/3.jpg" width="180" height="132")
	.side-catalog__stats всего товаров: 30