.slider-category
	.slider-category__slide(style="background-image: url(images/bg/slider-category.jpg)")
		.slider-category__mark Кровля
		.slider-category__body
			.slider-category__side.slider-category__side_right
				.slider-category__guaranty Гарантия до 40 лет
			.slider-category__side.slider-category__side_left
				.slider-category__title Металлочерепица
				.slider-category__info Благородсность черепицы, долговечность оцинкованной стали

	.slider-category__slide(style="background-image: url(images/bg/slider-category.jpg)")
		.slider-category__mark Кровля
		.slider-category__body
			.slider-category__side.slider-category__side_right
				.slider-category__guaranty Гарантия до 40 лет
			.slider-category__side.slider-category__side_left
				.slider-category__title Металлочерепица
				.slider-category__info Благородсность черепицы, долговечность оцинкованной стали

	.slider-category__slide(style="background-image: url(images/bg/slider-category.jpg)")
		.slider-category__mark Кровля
		.slider-category__body
			.slider-category__side.slider-category__side_right
				.slider-category__guaranty Гарантия до 40 лет
			.slider-category__side.slider-category__side_left
				.slider-category__title Металлочерепица
				.slider-category__info Благородсность черепицы, долговечность оцинкованной стали