.text-content
	h3.text-content__h3 Металлочерепица — кровельный материал.

	p.text-content__p  кровельный материал, представляющий собой листы, изготовленные из тонколистовой стали, алюминия или меди, покрытые полимерным защитным слоем, профилированные методом холодного давления. Листы металлочерепицы по внешнему виду напоминают кладку керамической черепицы.

	p.text-content__p Сегодня металлочерепица является популярным кровельным материалом: она используется в самых различных климатических условиях.