.main-about
	.container
		.row
			.col-sm-3.col-sm-offset-1.col-lg-2.col-lg-offset-2
				.main-about__pr
					img(src="images/about/pr.jpg", alt="", width="170", height="170")
			.col-sm-5.col-lg-4
				h3.main-about__title
					| Анастасия Абарис
				.main-about__slogan
					| дизайнер интерьерной студии 
					| «Квадратного метра»
		.row
			.col-sm-10.col-sm-offset-1.col-lg-8.col-lg-offset-2
				.main-about__text
					p
						| Часто люди обращаются к нам с проблемой: вложились в строительство дома или взяли ипотеку, на отделку средств осталось мало. Тем не менее хочется эксклюзива, чтобы всё было красиво, эргономично, надёжно. Именно здесь свои услуги и предлагает интерьерная студия, где покупателю подбираются варианты отделки под нужный бюджет, учитывая его вкус и потребности. 
					p
						| Также мы работаем с готовыми проектами, по которым покупатель хочет сэкономить. Ему предоставляется микс материалов как дорогих, так и альтернативных, более демократичных по цене.
				.main-about__info
					b.text-underline
						| Интерьерная студия
					|  «Квадратного метра» работает 
					br
					| c Пн по Пт – 9.00-18.00
