.main-amenities
	.container
		.row
			.col-xs-12.col-sm-8.col-sm-offset-2
				.main-amenities__place
					h3.main-amenities__title.main-amenities__title-1
						| И ещё несколько
					h2.main-amenities__title.main-amenities__title-2
						| Приятностей
					h3.main-amenities__title.main-amenities__title-3
						| в довершение
					p.main-amenities__text
						| 1. Подбор материалов под бюджет 
						| и консультации дизайнера 
						| 2. Бесплатный расчёт 
					a.btn-red(href="#")
						| Подробнее тут
