.main-check
	.container
		.row
			.col-xs-12
				.main-check__container
					.main-check__icon
						img(src="images/check/icon.png", alt="Чек", width="122", height="122")
					.main-check__text
						h3.main-check__title.main-check__title-1
							| Обязательно 
						h2.main-check__title.main-check__title-2
							| Сохрани
						h3.main-check__title.main-check__title-3
							| чек при покупке