.main-gift-card-2
	.container
		.row
			.col-xs-12.col-md-6
				.main-gift-card-2__rack
					.main-gift-card-2__rack-circle
						.i-gift.main-gift-card-2__rack-circle-icon
					| Подарочная карта	
				.main-gift-card-2__pr-wrap
					img.main-gift-card-2__pr(src="images/gift-card/card.png", alt="Подарочная карта", width="548", height="399")
			.col-xs-12.col-md-6
				.main-gift-card-2__discount
					| На покупку
					| строительных
					| и отделочных
					| материалов