.main-gift-card
	.container
		.row
			.col-xs-12.col-md-6
				.main-gift-card__container.clearfix
					.main-gift-card__ract.main-gift-card__ract-1
						| Подарочная карта 
					.main-gift-card__subract.main-gift-card__subract-1
						| На покупку
					.main-gift-card__slogan.main-gift-card__slogan-1
						| строительных и отделочных материалов
					.main-gift-card__ellips.main-gift-card__ellips-1
						| и
					.main-gift-card__ract.main-gift-card__ract-2
						| Новоселье – карта
					.main-gift-card__subract.main-gift-card__subract-2
						| Для возврата до 15%
					.main-gift-card__slogan.main-gift-card__slogan-2
						| с покупок отделочных материалов
					.main-gift-card__ract-bottom.main-gift-card__ract-bottom--left
						| Ждут вас уже  в супермаркете
			.col-xs-12.col-md-6
				.main-gift-card__pr-wrap
					img.main-gift-card__pr(src="images/gift-card/card-double.png", alt="Подарочная карта", width="784", height="530")
					.main-gift-card__ellips-medium
						.main-gift-card__ellips-medium-small-text
							| до
						.main-gift-card__ellips-medium-medium-text
							| 15%
				.main-gift-card__ract-bottom.main-gift-card__ract-bottom--right
