.main-gift-card-2.main-gift-card-2--2
	.container
		.row
			.col-xs-12.col-md-6
				.main-gift-card-2__rack
					.main-gift-card-2__rack-circle
						.i-gift.main-gift-card-2__rack-circle-icon
					| Карта Новоселье
				.main-gift-card-2__pr-wrap.main-gift-card-2__pr-wrap--2
					img.main-gift-card-2__pr(src="images/gift-card/card.png", alt="Подарочная карта", width="548", height="399")
			.col-xs-12.col-md-6
				.main-gift-card-2__discount
					| Купи всё
					| для отделки
					| и ремонта
					| ещё выгоднее