.main-gift-all
	.container
		.row
			.col-xs-12
				h2.main-gift-all__title
					| Бери даром всё, что видишь!
			.clearfix.main-gift-all__prs
				.col-xs-12.col-sm-3
					img.main-gift-all__pr(src="images/gift-all/1.jpg", alt="Бери всё даром", width="258", height="258")
				.col-xs-12.col-sm-3
					img.main-gift-all__pr(src="images/gift-all/2.jpg", alt="Бери всё даром", width="258", height="258")
				.col-xs-12.col-sm-3
					img.main-gift-all__pr(src="images/gift-all/3.jpg", alt="Бери всё даром", width="258", height="258")
				.col-xs-12.col-sm-3
					img.main-gift-all__pr(src="images/gift-all/4.jpg", alt="Бери всё даром", width="258", height="258")