.main-grand
	.container
		.row
			.col-xs-12.col-md-7.col-md-offset-4
				.main-grand__place
					.main-grand__place-pr
						img(src="images/grand/pr.png", alt="", width="718", height="527")
					.main-grand__place-header
						h3.main-grand__title.main-grand__title-1
							| главный приз 
					.main-grand__place-body
						h3.main-grand__title.main-grand__title-2
							| Однокомнатную квартиру 
						h3.main-grand__title.main-grand__title-3
							| в ЖД «Премьера»