.main-plus
	.container
		.row.main-plus__items
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item
					.main-plus__item-pr
						img(src="images/plus/1.png", alt="", width="110", height="111")
					.main-plus__item-desc
						| Оплата до 100% 
						| покупки
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item
					.main-plus__item-pr
						img(src="images/plus/2.png", alt="", width="106", height="106")
					.main-plus__item-desc
						| 1 Бонусный балл 
						| равен
						br
						| 1 Рублю РФ
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item
					.main-plus__item-pr
						img(src="images/plus/3.png", alt="", width="125", height="105")
					.main-plus__item-desc
						| Получи картру
						| при покупке
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item
					.main-plus__item-pr
						img(src="images/plus/4.png", alt="", width="112", height="94")
					.main-plus__item-desc
						| Карта действительна
						| один год
		.row
			.col-xs-12
				a.btn-yellow(href="#")
					| Подробнее тут