.main-plus.main-plus--invert
	.container
		.row.main-plus__items.main-plus__items--invert
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item
					.main-plus__item-pr.main-plus__item-pr--invert
						img(src="images/plus/in-1.png", alt="", width="110", height="111")
					.main-plus__item-desc.main-plus__item-desc--invert
						| 1 Бонусный балл
						| равен
						| 1 Рублю РФ
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item.main-plus__item--invert
					.main-plus__item-pr.main-plus__item-pr--invert
						img(src="images/plus/in-2.png", alt="", width="106", height="106")
					.main-plus__item-desc.main-plus__item-desc--invert(style="margin-left: -10px; margin-right: -10px;")
						| Баллами можно 
						| оплатить до 90% 
						| стоимости любого товара
						| в СтройСуперМаркете
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item.main-plus__item--invert
					.main-plus__item-pr.main-plus__item-pr--invert
						img(src="images/plus/in-3.png", alt="", width="125", height="105")
					.main-plus__item-desc.main-plus__item-desc--invert
						| Главное - активировать
						| карту в клиентском 
						| отделе перед покупкой
			.col-xs-12.col-sm-6.col-md-3
				.main-plus__item.main-plus__item--invert
					.main-plus__item-pr.main-plus__item-pr--invert
						img(src="images/plus/in-4.png", alt="", width="112", height="94")
					.main-plus__item-desc.main-plus__item-desc--invert
						| Срок действия
						| карты - 1 год
		.row
			.col-xs-12
				a.btn-yellow(href="#")
					| Подробнее тут