.main-settlers
	.clearfix.main-settlers--main
		.container
			.row
				.col-xs-12
					.main-settlers__title
						| Специальное предложение
					.main-settlers__place
						.main-settlers__place-title
							| Для Новосёлов
						.main-settlers__place-slogan
							| Приобрели жилую недвижимость?
					img.main-settlers__gift(src="images/settlers/gift.png", alt="Подарок", widht="581", height="467")
	.clearfix
		.main-settlers--foo
			.container
				.row
					.col-xs-12
						.main-settlers__place-2
							| Поздравляем!
						.main-settlers__slogan-2
							| Тогда наше предложение точно придётся вам по вкусу

