.main-win
	.container
		.row
			.col-xs-12
				h3.main-win__title
					| Ты можешь стать Победителем и
				.main-win__rack
					| выиграть до 30 000 рублей
					img.main-win__rack-icon.hidden-xs(src="images/win/icon.png", alt="", width="86", height="141")
				.main-win__slogan
					| на оплату любых товаров в супермаркете
				h3.main-win__end
					| А также 